{%load staticfiles%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- En son derlenmiş ve minimize edilmiş CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Opsiyonel tema -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<!-- En son derlenmiş ve minimize edilmiş JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<br>
<div class="container">
	<!DOCTYPE html>
	<html>
	<head>
		<title>Store Policies</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<!------ Include the above in your HEAD tag ---------->
		<div class="container well">
			<form class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<legend>Item Policy</legend>


					<div class="form-group">
						<label class="col-md-4 control-label" for="birthplace">Policy Type</label>
						<div class="col-md-4">
							<select id="policy1" class="form-control">
                                <option value="0" onclick="setValue();">None</option>
								<option value="1" onclick="setValue();">Min Item Quantity</option>
								<option value="2" onclick="setValue();">Max Item Quantity</option>
                                <option value="3" onclick="setValue();">Age Limitation</option>
                                <option value="4" onclick="setValue();">Country</option>
							</select>
						</div>
                    </div>
                    <div class="form-group ">
						<label class="col-md-4 control-label" for="fullname">Value</label>
						<div class="col-md-4">
                            <script>
                                document.getElementById("policy1").onchange = function () {
                                var input ='';
                                switch (this.selectedIndex) {
                                    case 1:
                                        input = '<input id="value1" min="1" name="fullname" type="number" placeholder="Min" class="form-control input-md" required="">';
                                        break;
                                    case 2:
                                        input = '<input id="value1" min="1" name="fullname" type="number" placeholder="Max" class="form-control input-md" required="">';
                                        break;
                                    case 3:
                                        input = '<input id="value1" min="1" max="120" name="fullname" type="number" placeholder="Age" class="form-control input-md" required="">';
                                        break;
                                    case 4:
                                        input = '<input id="value1" name="fullname" type="text" placeholder="Country" class="form-control input-md" required="">';
                                        break;
                                    }
                                     document.getElementById("in").innerHTML=input;
                                };

                            </script>
                            <div id="in"></div>
						</div>

					</div>

                    <div class="form-group">
						<label class="col-md-4 control-label" for="birthplace">Condition</label>
						<div class="col-md-4">
							<select id="birthplace" name="birthplace" class="form-control">
								<option value="1">OR</option>
								<option value="2">AND</option>
							</select>
						</div>
                    </div>

                    <input id="override" name="fullname" type="checkbox" class="input-md" required="">  Override Previous Policies

        </fieldset>
    </form>

    <button class="btn btn-success" id="submit">Submit</button>

    <button class="btn btn-danger" onclick="myFunction()">Remove All Policies</button>
    <button class="btn btn-secondary" onclick="window.location.href='/'">Cancel</button>
  <script>
  function myFunction() {
  var r = confirm("Are you sure you want to remove all previous policies for this store ?");
  if (r == true) {
    send_msg({action:"clean-policies",name:''},()=>{},()=>{});
  } else {

  }

}
  </script>
</div>
<script>
    $("#submit").click(function () {
        var policy1 = document.getElementById("policy1").value;
        var val1 = document.getElementById("value1").value;
        send_msg({action:''})
    });
</script>


</body>
</html>

</div>

