{%load staticfiles%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- En son derlenmiş ve minimize edilmiş CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Opsiyonel tema -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<!-- En son derlenmiş ve minimize edilmiş JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<br>
<div class="container">
	<!DOCTYPE html>
	<html>
	<head>
		<title>Store Policies</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<!------ Include the above in your HEAD tag ---------->
		<div class="container well">
			<form class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<legend>Store Policy</legend>


					<div class="form-group">
						<label class="col-md-4 control-label" for="birthplace">Policy Type</label>
						<div class="col-md-4">
							<select id="policy1" class="form-control">
                                <option value="0">None</option>
								<option value="1">Min Item Policy</option>
								<option value="2">Max Item Policy</option>
							</select>
						</div>
                    </div>
                    <div class="form-group ">
						<label class="col-md-4 control-label" for="fullname">Value</label>
						<div class="col-md-4">
							<input id="value1" min="1" name="fullname" type="number" placeholder="Value" class="form-control input-md" required="">

						</div>

					</div>

                    <div class="form-group">
						<label class="col-md-4 control-label">Policy Type</label>
						<div class="col-md-4">
							<select id="policy2" class="form-control">
                                <option value="0">None</option>
								<option value="1">Min Item Policy</option>
								<option value="2">Max Item Policy</option>
							</select>
						</div>
                    </div>
                    <div class="form-group ">
						<label class="col-md-4 control-label" for="fullname">Value</label>
						<div class="col-md-4">
							<input id="value2" min="1" name="fullname" type="number" placeholder="Value" class="form-control input-md" required="">

						</div>

					</div>

                    <div class="form-group">
						<label class="col-md-4 control-label" for="birthplace">Condition</label>
						<div class="col-md-4">
							<select id="birthplace" name="birthplace" class="form-control">
								<option value="1">OR</option>
								<option value="2">AND</option>
							</select>
						</div>
                    </div>

                    <input id="override" name="fullname" type="checkbox" class="input-md" required="">  Override Previous Policies

        </fieldset>
    </form>

    <button class="btn btn-success" id="submit">Submit</button>
    <button class="btn btn-secondary" onclick="window.location.href='/'">Cancel</button>

</div>
<script>
    $("#submit").click(function () {
        var policy1 = document.getElementById("policy1").value;
        var policy2 = document.getElementById("policy2").value;
        var val1 = document.getElementById("value1").value;
        var val2 = document.getElementById("value2").value;
        var override = document.getElementById("override").value;
        send_msg({action:''})
    });
</script>


</body>
</html>

</div>

